@import "function.scss";
@import "variable.scss";
@import "mixin.scss";

p {
  color: $color-red;
}

.background {
  background-image: url("/assets/images/test.png");
  width: 200px;
  height: 200px;
  border: 1px solid black;
}